.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.body_index {
    background-color: rgb(22, 22, 22);
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.index_menu {
    display: flex;
    justify-content: left;
    color: white;
    border-color: rgb(255, 240, 240);
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1;
}

.menu_icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    margin-left: 15px;
}

.menu_btn {
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
    color: white;
}

.div_index_1 {
    padding: 30px;
    background: linear-gradient(rgb(97, 97, 97), rgb(22, 22, 22));
}

.headingText {
    margin-top: 15px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    margin-bottom: 1px;
    color: azure;
}

.icon_img {
    width: 250px;
    height: 250px;
}

.icon_img_2 {
    width: 250px;
    height: 200px;
}

.img_div {
    margin: 0;
    display: flex;
    justify-content: center;
}

.defaultText {
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    color: azure;
}

.defaultTextS {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    color: azure;
}

.defaultTextS_1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.div_index_2 {
    margin-top: 12%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    display: flex;
}

.img_div_2 {
    display: flex;
}

.button-4 {
    width: 200px;
    height: 70px;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4-1 {
    width: 100px;
    height: 30px;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-bottom: 2%;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}

.services_div_1 {
    margin: 2%;
    background: linear-gradient(250deg, rgb(54, 54, 54), rgb(180, 180, 180));
    height: 450px;
    width: 96%;
    border: white solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.sub_div {
    margin: 3%;
    width: 300px;
    height: 350px;
    background-color: #2e2e2e;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    cursor: pointer;
}

.serv-links {
    margin-top: 10%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.services_div_2 {
    margin: 3%;
    text-align: center;
    color: azure;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
}

.info_div_1 {
    background-color: #5f5f5f;
    margin: 3%;
    display: flex;
    justify-content: center;
    width: 94%;
    height: 45%;
    border-radius: 5px;
    border: white solid;
}

.info_div_2 {
    background-color: #5f5f5f;
    margin: 3%;
    display: flex;
    justify-content: center;
    width: 94%;
    height: 50%;
    border-radius: 5px;
    border: white solid;
}

.info_p {
    color: azure;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
}

.application_form {
    margin: 3%;
    margin-left: 27.5%;
    width: 43%;
    height: auto;
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
    border: white solid;
    padding-left: 2%;
}